/* 📁 src/features/Login/Login.module.css */

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('/src/assets/hunminjeongeum-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85); 
  z-index: 0;
}

.title,
.buttonBox {
  position: relative;
  z-index: 1; 
}

.title {
  font-family: 'Noto Serif KR', serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 32px;
  color: #111;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 260px;
}

.buttonBox a {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  width: 100%;
}

.buttonBox img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.buttonBox span {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.google {
  background-color: #ffffff;
  color: #000;
  border: 1px solid #eee;
}

.kakao {
  background-color: #fee500;
  color: #000;
  border: 1px solid #eee;
}

.naver {  
  background-color: #03c75a;
  color: #000;
  border: 1px solid #eee; 
}