.iconButton {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--color-bg);
  color: #fff;
  margin-right: 20px;

  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.iconButton:hover {
  background-color: var(--color-hover);
}

.icon {
  margin-right: 8px; /* 아이콘과 텍스트 사이 여백 */
  display: inline-flex;
  align-items: center;
}
