/* src/features/Dashboard/Dashboard.module.css */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

.mainArea {
  flex-grow: 1;
  padding: 25px;
  background-color: #ffffff;
  overflow-y: auto;
}

.searchBar {
  flex: 1;
  max-width: 500px;
  padding: 6px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mainAreaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.mainAreaHeader h2 {
  font-size: 1.8em;
  color: black;
  margin: 0;
}

.uploadButton {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fbe51bd9;
  color: black;
}

.uploadButton:hover {
  background-color: #f9d314;
}

.uploadIcon {
  margin-right: 8px;  /* 아이콘과 텍스트 사이 여백 */
}

.documentSection h3 {
  color: black;
  margin-top: 20px;
  margin-bottom: 15px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.noDocuments {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; /* 화면 기준 높이 */
  font-size: 1rem;
  color: #999;
  text-align: center;
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #999;
  text-align: center;
  height: 100vh;
}

.error {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: red;
  text-align: center;
  height: 100vh;
}
