.section {
    margin-bottom: 32px;
    /* border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px; */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    border-top: 1px solid #e0e0e0;
    padding-top: 5px;
  }
  
  .groupLabel {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: #212121;
  }
  
  .button {
    background: #fffbe6;
    color: #d4a600;
    border: 1px solid #ffe066;
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
  }
  .button:hover {
    background: #ffe066;
    color: #967a00;
  }
  
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px 16px; /* 세로, 가로 간격 */
    justify-items: stretch;
    align-items: stretch;
  }