/* 📁 src/features/Landing/Landing.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 2rem;
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
  overflow-x: visible;
}

.logoContainer {
  position: absolute;
  top: 15rem; /* 위에서 간격 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  z-index: 10;
}

.logoImage {
  width: 160px;
  max-width: 100%;
  object-fit: contain;
}

.contentcontainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow-x: visible;
  overflow-y: visible;
}

/* 경로가 바뀌면 이 클래스가 붙어서 자연스럽게 사라짐 */
.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
}
