/* 📁 src/features/Landing/Landing.module.css */
.container {
  position: relative;
  height: 90vh;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden; /* 스크롤바 제거 */
}

.logoContainer {
  position: fixed; /* 또는 absolute */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 100%;
}

.contentcontainer {
  position: relative; /* 자연스러운 문서 흐름 유지 */
  max-width: 400px;
  margin: 0 auto;
  margin-top: calc(40vh + 10px); /* 로고 중앙부터 100px 아래에 위치 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  min-height: 400px;
}

.logoImage {
  /* width: 160px; */
  max-width: 100%;
  object-fit: contain;
}

/* 경로가 바뀌면 이 클래스가 붙어서 자연스럽게 사라짐 */
.fadeOut {
  opacity: 0;
  transform: translateY(-20px);
}

/* 모바일 */
@media (max-height: 600px) {
  .contentcontainer {
    max-height: calc(40vh - 80px);
  }
}
