/* src/components/Header.module.css */
.appHeader {
  padding: 1rem 2rem;
  background-color: white;
}

.title {
  font-family: "Noto Serif KR", serif;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.divider {
  border: none;
  border-top: 1px solid #ccc;
}

.logoImage {
  width: 160px;
}
